/* Search bar styles */
.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .search-bar input[type="text"] {
        width: 450px;
        padding: 10px;
        font-size: 1rem;
        border: 2px solid #ccc;
        border-radius: 5px 10px 10px 5px;
        margin-right: 8px;
    }

        .search-bar input[type="text"]:focus {
            border-color: #007BFF; 
        }

    .search-bar button {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #007BFF; 
        color: white;
        border: none;
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

        .search-bar button:hover {
            background-color: #0056b3; 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

.error-message { 
    color: red;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 50px;
}
